<article>
  <img src="assets/images/sfeir-logo.png" class="cypress-icon" alt="">
  <section>
    <h4>WEB Consultant</h4>
    <ul>
      <li>#web</li>
    </ul>
    <p>providing consultancy</p>
    <a href="">Learn more</a>
  </section>
</article>
<article>
  <img src="assets/images/cypress-logo.png" class="cypress-icon" alt="">
  <section>
    <h4>CYPRESS Trainer</h4>
    <ul>
      <li>#end-to-end-testing</li>
      <li>#e2e-testing</li>
      <li>#testing-driven-development</li>
      <li>#automation</li>
    </ul>
    <p>advocating through in-person and remote training</p>
    <a href="">Learn more</a>
  </section>
</article>

<article>
  <fa-icon class="topic-icon angular-icon" [icon]="['fab', 'angular']"></fa-icon>
  <section>
    <h4>ANGULAR Expert</h4>
    <ul>
      <li>#web</li>
      <li>#typescript</li>
    </ul>
    <p>Empowering the community through mentoring and open-source contributions</p>
    <a href="">Learn more</a>
  </section>
</article>

<article>
  <img src="assets/images/realworld-logo.png" class="cypress-icon" alt="">
  <section>
    <h4>REALWORLD Maintainer</h4>
    <ul>
      <li>#open-source</li>
    </ul>
    <a href="">Learn more</a>
  </section>
</article>
