:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.introduction {
  align-items: end;
  display: flex;
  flex-direction: column;
  left: -4rem;
  position: relative;
}

a {
  margin: 1rem;

  fa-icon {
    color: #707070;
    font-size: 2rem;
  }
}

img {
  border: 1rem solid #fac564;
  width: 25rem;
}

article {
  background-color: #fac564;
  font-family: Monaco, serif;
  padding: 2rem 4rem;
}

aside {
  align-items: center;
  display: flex;
}
